
body {
  font-family: 'Roboto',sans-serif;
  background-color: #E74C3C;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

h1 {
  text-align: center;
  margin-top: 50px;
  color: #ed7669;
  font-size: 22px;
}

.container {
  width: 600px;
  margin: 50px auto;
}

.square {
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 180px;
  background-color: #ed7669;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

span {
  color: #E74C3C;
  font-size: 30px;
  ransform: translateZ(100px);
}
